/* Divider */
.textui-divider {
  @apply my-4;
  margin-top: var(--spacing-md, 1rem);
  margin-bottom: var(--spacing-md, 1rem);
  border-top: 1px solid var(--color-secondary, rgb(75 85 99));
}

.light .textui-divider {
  border-top: 1px solid var(--color-secondary, rgb(209 213 219));
}

.textui-divider.vertical {
  @apply mx-4;
  margin-left: var(--spacing-md, 1rem);
  margin-right: var(--spacing-md, 1rem);
  border-left: 1px solid var(--color-secondary, rgb(75 85 99));
}

.light .textui-divider.vertical {
  border-left: 1px solid var(--color-secondary, rgb(209 213 219));
}


